@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  font-size: 18px;
  background-image: url('../images/welcome.jpg');

 /*  */
  color: black;


}

@font-face{
  font-family: 'VeganStyle';
  src: local('VeganStyle'), url('../fonts/VeganStyle.ttf');
}
.pretty {
  font-family: 'Playfair Display', serif;
  font-size: 55px;
  color: grey;
}


.quote {
  font-family:'Playfair Display', serif; 
  font-size: 24px;
  color: black;
}

h3 {
  color: black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App > input {
  margin-top: 200px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input {
  margin: 0 auto;
  background-color: snow;
  opacity: 80%;
  color: black;
  margin-top: 10px;
  width: 300px;
  height: 59px;
  font-size: 22px;
  margin-bottom: 14px;
  max-width: 827px;

}



button {
  width: 300px;
  height: 50px;
  margin: 0 auto;
  color: white;
  background-color: black;
}

.error{
  background-image: url('../hug.png') ;
  color: cyan;
}

.form {
  max-width: 80%;
  position: relative;
}